footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 3rem;

  overflow-x: clip;
  background-color: #fff;
}
.footer__logo {
  flex-basis: 33%;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}

.footer__nav {
  flex-basis: 33%;
  display: flex;
  align-items: center;

  gap: 2rem;
  list-style: none;
}
.footer__nav > li {
  text-transform: uppercase;
  font-size: 1.125;
}

.footer__social {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 2rem;
  list-style: none;
}

.footer__social > li > a {
  background-color: var(--secondary-color);

  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social > li > a > img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}
